In [1]:
%autosave 0#making a data frame together then evaluate it

Autosave disabled

In [2]:
import pandas as pd

from sklearn.metrics import classification_report

In [3]:
#whether or not people in this room is wearing glasses
#target variable will be glasses
df = pd.DataFrame({'glasses':['yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'yes', 'no'], 
                  'preds': ['yes', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'yes']})
df
#the machine learning model in this case is em typing yes or no, 
#the machine made a prediction whether or not each person is wearing glasses

  glasses preds
0     yes   yes
1      no    no
2     yes   yes
3     yes    no
4     yes   yes
5      no   yes
6     yes    no
7     yes   yes
8      no   yes

we need to definea baseline for our project!
the baseline will be teh target that occurs the most(mode)!

In [5]:
df.glasses.mode()   #this represent the most truth
#the result mean that the next person it evaluate, it will guess the person is wearing glasses

0    yes
Name: glasses, dtype: object

In [6]:
#assign new column equal to the baseline
df['baseline'] ='yes'
df

  glasses preds baseline
0     yes   yes      yes
1      no    no      yes
2     yes   yes      yes
3     yes    no      yes
4     yes   yes      yes
5      no   yes      yes
6     yes    no      yes
7     yes   yes      yes
8      no   yes      yes

let's create a confusion matrix to reinforce what we had see wit pd.crosstab of actual and prediction value

In [7]:
pd.crosstab(df.glasses, df.preds)
#the result will show i have one true negative, two false positve. 
# 2 false negative, and 4 true positive

# i have five total correct guess, and 9 total guess.
# my accuracy will be 5/9 is how i would interpret this matrix
# precision is the number of TP/all Positive guesses
# precision is 6/9 => 2/3
# Recall is the number of true positive over all positive cases
# recall is 6/9 => 2/3

preds    no  yes
glasses
no        1    2
yes       2    4

In [9]:
pd.crosstab(df.glasses, df.baseline)

baseline  yes
glasses
no          3
yes         6

evaluating our baseline!
accuracy is number of correct guesses, it guess yes 9 times but wrong 3 times and right 6 times
3 times we are incorrect (false positive), and 6 are correct (true positive)
3/6 => 2/3 is the accuracy of the baseline. 
precision is 2/3. true positive/ total
recall is correctly identify 6/6 = 1. this mean it never misses a case