In [1]:
%autosave 0

Autosave disabled

In [2]:
import pandas as pd
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

predicted dog, turn out cat. its a false dog
predicted dog, turn out dog. its a true dog
predicted cat, turn out dog. its a false cat
predicted cat, turn out cat. its a true cat

target variable will be dog
true pos, false neg 
false pos, true neg

my accuracy for dog prediction 4/5
my precision for dog prediction 46/59
my recall for dog prediction 46/53

In [3]:
file_path = 'c3.csv'
df = pd.read_csv(file_path)
df

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [4]:
pd.crosstab(df.actual, df.model1)

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [5]:
pd.crosstab(df.actual, df.model2)

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [6]:
pd.crosstab(df.actual, df.model3)

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

id ducks that have defect will require the recall to see the percentage of positive cases that we accurately predicted

Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

Precision model would be most appropriate. it will measure the proportion of correctly predicted positive cases for defection out of all cases predicted as defected

In [7]:
file_path_paws = 'gives_you_paws.csv'
paws_df = pd.read_csv(file_path_paws)
paws_df

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [14]:
paws_baseline = paws_df['actual'].unique()
print(paws_baseline)

['cat' 'dog']

In [ ]:
#finding a model that have the highest accuracy
#accuracy equals TP+TN/all
pd.crosstab(paws_df.actual, paws_df.model1)

true neg, false neg
false pos, true pos
1423+2614/1423+2614+323+640=4037/5000 => 807/1000

In [ ]:
pd.crosstab(paws_df.actual, paws_df.model2)

true neg, false neg
false pos, true pos
3152/5000 => 63/100

In [ ]:
pd.crosstab(paws_df.actual, paws_df.model3)

2548/5000 is the accuracy rate 
out of all model, the closest one to the baseline is the first model. I would recommend the model 1 for the dog picture. I would choose model 3 for the cat picture.

# applying sklearn metrics
pd.crosstab(paws_df.actual, paws_df.model1)

In [ ]:
true_labels = paws_df['actual']
predicted_labels = paws_df['model1']
accuracy = accuracy_score(true_labels, predicted_labels)
print(accuracy)

In [ ]:
true_labels = paws_df['actual']
predicted_labels = paws_df['model1']
precision = precision_score(true_labels, predicted_labels, pos_label = 'dog')
print(precision)

In [ ]:
recall = recall_score(true_labels, predicted_labels, pos_label = 'dog')
print(recall)

In [ ]:
classification = classification_report(true_labels, predicted_labels)
classification

### WTH are these numbers?