In [1]:
import os

import numpy as np
import pandas as pd

from env import get_connection

def get_db_connection(database):
    return get_connection(database)

In [2]:
def new_iris_data():
    sql_query = ("SELECT species_id, species_name, sepal_length, sepal_width, petal_length, petal_width FROM measurements JOIN species USING(species_id)")
    # Read in datafr from Codeup db.
    df = pd.read_sql(sql_query, get_connection('iris_db'))
    return df

In [3]:
def get_iris_data():
    if os.path.isfile('iris_df.csv'):
        # If csv file exists read in data from csv file.
        df = pd.read_csv('iris_df.csv', index_col=0)
    else:   
        # Read fresh data from Codeup db into a dataframe
        df = new_iris_data() 
        # Cache data
        df.to_csv('iris_df.csv')
    return df

In [4]:
iris_df = get_iris_data()
iris_df

,species_id,species_name,sepal_length,sepal_width,petal_length,petal_width
0,1,setosa,5.1,3.5,1.4,0.2
1,1,setosa,4.9,3.0,1.4,0.2
2,1,setosa,4.7,3.2,1.3,0.2
3,1,setosa,4.6,3.1,1.5,0.2
4,1,setosa,5.0,3.6,1.4,0.2
...,...,...,...,...,...,...
145,3,virginica,6.7,3.0,5.2,2.3
146,3,virginica,6.3,2.5,5.0,1.9
147,3,virginica,6.5,3.0,5.2,2.0
148,3,virginica,6.2,3.4,5.4,2.3
149,3,virginica,5.9,3.0,5.1,1.8

In [5]:



def prep_iris(iris_data):
    # Rename the 'species_name' column to 'species'
    iris_data.rename(columns={'species_name': 'species'}, inplace=True)
    return iris_data

# Get the Iris dataset data
untransformed_iris_df = get_iris_data()

# Apply the prep_iris function to transform the data
transformed_iris_df = prep_iris(untransformed_iris_df)

# Display the transformed DataFrame
print(transformed_iris_df)

NameError: name 'df' is not defined