In [2]:
%autosave 0

Autosave disabled

In [3]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from adam_prepare import titanic_pipeline
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [4]:
train, val, test = titanic_pipeline()
train.shape, val.shape, test.shape

((623, 10), (134, 10), (134, 10))

In [5]:
X_train = train.drop(columns = 'survived')
y_train = train.survived

X_val = val.drop(columns = 'survived')
y_val = val.survived

In [6]:
X_train = pd.get_dummies(X_train)
X_val = pd.get_dummies(X_val)

X_train.head()

,age,sibsp,parch,fare,alone,sex_female,sex_male,class_First,class_Second,class_Third,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1
45,29.0,0,0,8.0500,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1
28,29.0,0,0,7.8792,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
633,29.0,0,0,0.0000,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1
403,28.0,1,0,15.8500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1

In [7]:
(y_train == 0 ).mean()

0.6163723916532905

In [8]:
X_train.head()

,age,sibsp,parch,fare,alone,sex_female,sex_male,class_First,class_Second,class_Third,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Cherbourg,embark_town_Queenstown,embark_town_Southampton
748,19.0,1,0,53.1000,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,1
45,29.0,0,0,8.0500,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1
28,29.0,0,0,7.8792,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
633,29.0,0,0,0.0000,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1
403,28.0,1,0,15.8500,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1

In [22]:
seed = 42
rf =RandomForestClassifier(bootstrap=True, 
                            class_weight=None, 
                            criterion='gini',
                            min_samples_leaf=5,
                            n_estimators=100,
                            max_depth=5, 
                            random_state= seed)

rf.fit(X_train, y_train)

RandomForestClassifier(max_depth=5, min_samples_leaf=5, random_state=42)

In [23]:
rf.score(X_train, y_train)

0.8443017656500803

In [24]:
rf.score(X_val, y_val)

0.8507462686567164

In [25]:
difference = (rf.score(X_val, y_val)  )-(rf.score(X_train, y_train))
difference

0.006444503006636126

### Feature Importance

In [13]:
print(rf.feature_importances_)

[0.07090665 0.02261148 0.02043442 0.11273512 0.01743913 0.2943619
 0.25760014 0.04266188 0.01561836 0.08504971 0.00193982 0.00327591
 0.0070274  0.00813433 0.006194   0.00167413 0.         0.01233558
 0.00332372 0.01667632]

### make Predictions

In [14]:
y_pred = rf.predict(X_train)

### Estimate Probability

In [15]:
y_pred_proba = rf.predict_proba(X_train)

Evaluate Model

### Compute the Accuracy

In [16]:
#accuracy of random forest classifier on training set
format(rf.score(X_train, y_train))

'0.8443017656500803'

### Confusion matrix

In [17]:
confusion_matrix(y_train, y_pred)

array([[358,  26],
       [ 71, 168]])

True Positive: 380
False Positive: 4
True Negative: 211
False Negative: 28

### classification report

In [18]:
class_rep= classification_report(y_train, y_pred)
print(class_rep)

              precision    recall  f1-score   support

           0       0.83      0.93      0.88       384
           1       0.87      0.70      0.78       239

    accuracy                           0.84       623
   macro avg       0.85      0.82      0.83       623
weighted avg       0.85      0.84      0.84       623

In [19]:
rf.score(X_train, y_train)

0.8443017656500803

In [20]:
# this mean the model predicted correctly 94% of instances in the training dataset

In [21]:
rf.score(X_val, y_val)

0.8507462686567164

#the model dropped slightly on unseen data.
#since this data is over 10% difference, it mean overfitting

Write down which hyperparameter have better performance. 
By increasing min_samples_leaf and decreasing max_depth, i increase the fitting of the model.


#### the max_depth hyper parameter has better performance
by changing the hyperparameter of max_depth and min_leaf by the same amount, I see that max_depth does create a smaller difference  of .006 between the train and validate sample.

# Min_leaf = 5
# Max_depth = 5